* {
    list-style-type: none;
}

header {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}

nav {
    max-width: 150px;
    height: 100%;
}

.homeUL {
    display: block;
    padding: 10px;
}

.homeUL li {
    margin-top: 10%;
    display: block;
    width: 180px;
    font-size: small;
    font-weight: 400;
    padding: 10px 9px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;

}

.homeUL li:hover {
    background: #d1d2d1;
}
.homeUL li.selected {
    background: #c0c5c0;
}
