/* Sidebar.css */

.sidebar {
    width: 300px;
    /* Adjust the width as needed */
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    /* Hide the sidebar by default */
    transition: left 0.3s ease-in-out;
    background-color: gray;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}   

.sidebar.open {
    left: 0;
    /* Show the sidebar when it's open */
}

.toggle-btn {
    cursor: pointer;
    padding: 10px;
    background-color: #4caf50;
    /* Change the background color as needed */
    color: #fff;
    /* Change the text color as needed */
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.toggle-btn:hover {
    background-color: #45a049;
    /* Change the hover background color as needed */
}

.homeUL {
    list-style-type: none;
    padding: 0;
}

.homeUL li {
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
}

.homeUL li:hover {
   background-color: #fff;
}

.homeUL li.selected {
    font-weight: bold;
    /* Change the selected item style as needed */
}

.homeUL li.selected:hover {
    font-weight: bold;
    background-color: aquamarine;
    /* Change the selected item style as needed */
}

.content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    margin-left: 0;
}

.content.shifted {
    margin-left: 300px;
    /* Adjust the margin when the sidebar is open */
}

/* Add any other custom styles as needed */
.toggle-btn i {
  font-size: 24px; /* Adjust the font size as needed */
  margin-right: 10px; /* Add spacing between the icon and text if needed */
  vertical-align: middle;
}

/* Styles for the open and close icons */
.toggle-btn .fa-bars {
  color: #4caf50; /* Color for the open icon */
}

.toggle-btn .fa-times {
  color: #e74c3c; /* Color for the close icon */
}   